%html
  %head
    %script{ type: 'text/javascript', src: '/javascripts/json2.js' }
    %script{ type: 'text/javascript', src: '/javascripts/jquery.js' }
    %script{ type: 'text/javascript', src: '/javascripts/underscore.js' }
    %script{ type: 'text/javascript', src: '/javascripts/backbone.js' }
    %script{ type: 'text/javascript', src: '/javascripts/date.js' }
    %script{ type: 'text/javascript', src: '/javascripts/notable.js' }

  %body
    %h1 Notable Backbone
  
  #app